BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "So[0]" SITE "41" ;
LOCATE COMP "So[1]" SITE "39" ;
LOCATE COMP "So[2]" SITE "44" ;
LOCATE COMP "So[3]" SITE "42" ;
LOCATE COMP "So[4]" SITE "43" ;
LOCATE COMP "So[5]" SITE "45" ;
LOCATE COMP "So[6]" SITE "47" ;
LOCATE COMP "So[7]" SITE "49" ;
LOCATE COMP "So[8]" SITE "48" ;
LOCATE COMP "So[9]" SITE "50" ;
LOCATE COMP "So[10]" SITE "52" ;
LOCATE COMP "So[11]" SITE "55" ;
LOCATE COMP "So[12]" SITE "54" ;
LOCATE COMP "So[13]" SITE "56" ;
LOCATE COMP "So[14]" SITE "57" ;
LOCATE COMP "So[15]" SITE "59" ;
LOCATE COMP "LED" SITE "58" ;
LOCATE COMP "Ai[0]" SITE "14" ;
LOCATE COMP "Ai[1]" SITE "13" ;
LOCATE COMP "Ai[2]" SITE "12" ;
LOCATE COMP "Ai[3]" SITE "11" ;
LOCATE COMP "Ai[4]" SITE "10" ;
LOCATE COMP "Ai[5]" SITE "9" ;
LOCATE COMP "Ai[6]" SITE "6" ;
LOCATE COMP "Ai[7]" SITE "5" ;
LOCATE COMP "Ai[8]" SITE "4" ;
LOCATE COMP "Ai[9]" SITE "3" ;
LOCATE COMP "Ai[10]" SITE "2" ;
LOCATE COMP "Ai[11]" SITE "1" ;
LOCATE COMP "Ai[12]" SITE "112" ;
LOCATE COMP "Ai[13]" SITE "110" ;
LOCATE COMP "Ai[14]" SITE "109" ;
LOCATE COMP "Ai[15]" SITE "114" ;
LOCATE COMP "Bi[0]" SITE "34" ;
LOCATE COMP "Bi[1]" SITE "35" ;
LOCATE COMP "Bi[2]" SITE "32" ;
LOCATE COMP "Bi[3]" SITE "33" ;
LOCATE COMP "Bi[4]" SITE "27" ;
LOCATE COMP "Bi[5]" SITE "28" ;
LOCATE COMP "Bi[6]" SITE "25" ;
LOCATE COMP "Bi[7]" SITE "26" ;
LOCATE COMP "Bi[8]" SITE "23" ;
LOCATE COMP "Bi[9]" SITE "24" ;
LOCATE COMP "Bi[10]" SITE "133" ;
LOCATE COMP "Bi[11]" SITE "132" ;
LOCATE COMP "Bi[12]" SITE "22" ;
LOCATE COMP "Bi[13]" SITE "21" ;
LOCATE COMP "Bi[14]" SITE "20" ;
LOCATE COMP "Bi[15]" SITE "19" ;
LOCATE COMP "SL" SITE "111" ;
