BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[0]" SITE "14" ;
LOCATE COMP "cdiv0[1]" SITE "13" ;
LOCATE COMP "cdiv0[2]" SITE "12" ;
LOCATE COMP "cdiv0[3]" SITE "11" ;
LOCATE COMP "cdiv0[4]" SITE "10" ;
LOCATE COMP "clk0" SITE "41" ;
