BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "So[0]" SITE "48" ;
LOCATE COMP "So[1]" SITE "50" ;
LOCATE COMP "So[2]" SITE "52" ;
LOCATE COMP "So[3]" SITE "55" ;
LOCATE COMP "LED" SITE "58" ;
LOCATE COMP "SL" SITE "1" ;
LOCATE COMP "Ai[0]" SITE "14" ;
LOCATE COMP "Ai[1]" SITE "13" ;
LOCATE COMP "Ai[2]" SITE "12" ;
LOCATE COMP "Ai[3]" SITE "11" ;
LOCATE COMP "Bi[0]" SITE "23" ;
LOCATE COMP "Bi[1]" SITE "24" ;
LOCATE COMP "Bi[2]" SITE "133" ;
LOCATE COMP "Bi[3]" SITE "132" ;
