BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Yd[0]" SITE "48" ;
LOCATE COMP "Yd[2]" SITE "52" ;
LOCATE COMP "Yd[1]" SITE "50" ;
LOCATE COMP "Yd[3]" SITE "55" ;
LOCATE COMP "Bd[0]" SITE "14" ;
LOCATE COMP "Bd[1]" SITE "13" ;
LOCATE COMP "Bd[2]" SITE "12" ;
LOCATE COMP "Bd[3]" SITE "11" ;
LOCATE COMP "Ad[0]" SITE "23" ;
LOCATE COMP "Ad[1]" SITE "24" ;
LOCATE COMP "Ad[2]" SITE "133" ;
LOCATE COMP "Ad[3]" SITE "132" ;
LOCATE COMP "Sel" SITE "1" ;
